In [ ]:
#@title int
start = 0 #@param {type:"integer"}
end = 20 #@param {type:"integer"}
result = list(range(start,end))
print(result)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
#@title String
start = 0 #@param {type:"integer"}
end = 20 #@param {type:"integer"}
result = []
for i in range(start,end):
  result += [str(i)]
print(result)

['10', '11', '12', '13', '14', '15', '16', '17', '18', '19']

In [ ]:
#@title 隨機數產生器
import random
start = 0 #@param {type:"integer"}
end = 20 #@param {type:"integer"}
result_num = 20 #@param {type:"integer"}
result = [random.randint(start,end) for _ in range(result_num)]
print(result)

20

In [ ]:
#@title 費波那契數
length = 10 #@param {type:"integer"}
start_with_zero = True #@param {type:"boolean"}
if start_with_zero == True:
  a = 0
else:
  a = 1
b = 1
result = [a, b]
for i in range(length-2):
  a,b = b,a+b
  result += [a]
print(result)

[0, 1, 1, 1, 2, 3, 5, 8, 13, 21]

In [ ]:
#@title 平均數
nums = [0, 1, 2, 3]
sum = 0
for i in nums:
  sum += nums[i]
print(sum/len(nums))